<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>

    <title></title>
</head>

<body>

    <div class="container">
        <h1 class="mt-4 mb-4 text-center text-primary"><b>
                <%= title %>
            </b></h1>

        <span id="message"></span>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col col-sm-9">Student Data</div>
                    <div class="col col-sm-3">
                        <button type="button" id="add_data" class="btn btn-success btn-sm float-end">Add</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered" id="student_data">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Cen</th>
                                <th>Cin</th>
                                <th>Tel</th>
                                <th>Adresse</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Etat</th>
                                <th>Cartier</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" id="action_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" id="student_form">
                    <div class="modal-header" id="dynamic_modal_title">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Nom</label>
                            <input type="text" name="txt_nom" id="txt_nom" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Prenom</label>
                            <input type="text" name="txt_prenom" id="txt_prenom" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Cen</label>
                            <input type="text" name="txt_cen" id="txt_cen" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Cin</label>
                            <input type="text" name="txt_cin" id="txt_cin" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tel</label>
                            <input type="text" name="txt_tel" id="txt_tel" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Adresse</label>
                            <input type="text" name="txt_adresse" id="txt_adresse" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="txt_email" id="txt_email" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" name="txt_password" id="txt_password" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Etat</label>
                            <input type="text" name="txt_etat" id="txt_etat" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Cartier</label>
                            <select class="form-select" id="select_cartier" name="select_cartier">
                                <% quartiers.forEach(quartier=> { %>
                                    <option value="<%= quartier.id %>">
                                        <%= quartier.libelle %>
                                    </option>
                                    <% }); %>
                            </select>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" id="id" />
                        <input type="hidden" name="action" id="action" value="Add" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="action_button">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {

            load_data();

            function load_data() {
                $.ajax({
                    url: "http://localhost:3000/students/dashboard_student/action",
                    method: "POST",
                    data: { action: 'fetch' },
                    dataType: "JSON",
                    success: function (data) {
                        var html = '';

                        if (data.data.length > 0) {
                            for (var count = 0; count < data.data.length; count++) {
                                html += `
                        <tr >
                            <td >`+ data.data[count].Nom + `</td>
                            <td>`+ data.data[count].Prenom + `</td>
                            <td >`+ data.data[count].Cen + `</td>
                            <td >`+ data.data[count].Cin + `</td>
                            <td >`+ data.data[count].Tel + `</td>
                            <td >`+ data.data[count].Adresse + `</td>
                            <td >`+ data.data[count].Email + `</td>
                            <td >`+ data.data[count].Password + `</td>
                            <td>
                                ` + (data.data[count].Etat === 1 ? '<span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"> Approved </span>' :
                                        '<span class="px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full dark:text-gray-100 dark:bg-gray-700"> Expired </span>') + `
                            </td>
                            <td >`+ data.data[count].Cartier + `</td>
                            <td> <button type="button" class="btn btn-warning btn-sm edit" data-id="${data.data[count].Id_student}">Edit</button> &nbsp;
                                <button type="button" class="btn btn-danger btn-sm delete" data-id="${data.data[count].Id_student}">Delete</button>
                            </td>
                        </tr>
                      `;
                            }
                        }

                        $('#student_data tbody').html(html);
                        $('#student_data').DataTable();
                    }
                });
            }

            $('#add_data').click(function () {

                $('#dynamic_modal_title').text('Add Data');

                $('#student_form')[0].reset();

                $('#action').val('Add');

                $('#action_button').text('Add');

                $('#action_modal').modal('show');

            });

            $('#student_form').on('submit', function (event) {

                event.preventDefault();

                $.ajax({
                    url: "http://localhost:3000/students/dashboard_student/action",
                    method: "POST",
                    data: $('#student_form').serialize(),
                    dataType: "JSON",
                    beforeSend: function () {
                        $('#action_button').attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        $('#action_button').attr('disabled', false);

                        $('#message').html('<div class="alert alert-success">' + data.message + '</div>');

                        $('#action_modal').modal('hide');

                        load_data();

                        setTimeout(function () {
                            $('#message').html('');
                        }, 5000);
                    }
                });

            });

            $(document).on('click', '.edit', function () {

                var id = $(this).data('id');

                $('#dynamic_modal_title').text('Edit Data');

                $('#action').val('Edit');

                $('#action_button').text('Edit');

                $('#action_modal').modal('show');

                $.ajax({
                    url: "http://localhost:3000/students/dashboard_student/action",
                    method: "POST",
                    data: { id: id, action: 'fetch_single' },
                    dataType: "JSON",
                    success: function (data) {
                        $('#txt_nom').val(data.Nom);
                        $('#txt_prenom').val(data.Prenom);
                        $('#txt_cen').val(data.Cen);
                        $('#txt_cin').val(data.Cin);
                        $('#txt_tel').val(data.Tel);
                        $('#txt_adresse').val(data.Adresse);
                        $('#txt_email').val(data.Email);
                        $('#txt_password').val(data.Password);
                        $('#txt_etat').val(data.Etat);
                        $('#select_cartier').val(data.Cartier);
                        $('#id').val(data.Id_student);
                    }
                });

            });

            $(document).on('click', '.delete', function () {

                var id = $(this).data('id');

                if (confirm("Are you sure you want to delete this data?")) {
                    $.ajax({
                        url: "http://localhost:3000/students/dashboard_student/action",
                        method: "POST",
                        data: { action: 'delete', id: id },
                        dataType: "JSON",
                        success: function (data) {
                            $('#message').html('<div class="alert alert-success">' + data.message + '</div>');
                            load_data();
                            setTimeout(function () {
                                $('#message').html('');
                            }, 5000);
                        }
                    });
                }

            });
            load_data();
        });

    </script>
</body>

</html>